.quantity {
  width: 106px;
  height: 37px;
  border: 1px solid var(--primary-duckegg);
  border-radius: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
}

.quantity_icon_minus {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.quantity_icon_plus {
  cursor: pointer;
}

.quantPar {
  width: 20px;
  text-align: center;
  font-family: "JosefinSans-SemiBold";
  font-size: 20px;
  line-height: 20px;
  color: var(--primary-font);
}
