@import "../../assets/global-styles/mixins.scss";
.text_component {
  .heading {
    font-size: 28px;
    line-height: 28px;
    font-family: "JosefinSans-SemiBold";
    margin-bottom: 24px;
    color: #41464b;
  }
  .description {
    font-size: 18px;
    line-height: 25px;
    font-family: "JosefinSans-Light";
    color: #41464b;
    letter-spacing: 0.005em;
  }

  .description p {
    margin-bottom: 16px;

    strong {
      font-family: "JosefinSans-SemiBold";
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .description a {
    color: #1e8a96;
    text-decoration: underline;
  }

  > div:nth-of-type(3) {
    .column:last-of-type p {
      @include small-540-break {
        margin-bottom: 30px;
      }

      @media (max-width: 430px) {
        margin-bottom: 11px;
      }

      @include small-414-break {
        margin-bottom: 11px;
      }
    }
  }

  .column {
    //background-color: red;
    color: #41464b;
    display: table-cell;
    font-size: 18px;

    @include medium-1080-break {
      font-size: 16px;
    }

    @include small-540-break {
      font-size: 14px;
    }

    &:last-of-type {
      padding-left: 188px;

      @include medium-1080-break {
        padding-left: 50px;
      }

      p {
        @include small-768-break {
          margin-bottom: 4px;
        }

        @include small-540-break {
          margin-bottom: 29px;
        }

        @include small-375-break {
          margin-bottom: 22px;
        }
      }
    }

    p {
      font-family: "JosefinSans-Light";
      line-height: 140%;
      margin-bottom: 32px;

      a {
        color: #1e8a96;
        text-decoration: underline;
      }

      @include small-768-break {
        width: 52%;
      }

      @include small-540-break {
        width: 77%;
      }

      em {
        font-family: "JosefinSans-LightItalic";

        @include small-768-break {
          margin-bottom: 4px;
        }
      }

      strong {
        display: flex;
        font-family: "JosefinSans-Regular";
        margin-bottom: 4px;
        color: #41464b;
      }
    }
  }
  .description {
    margin-bottom: 24px;

    li {
      font-size: 18px;
      line-height: 25px;
      font-family: "JosefinSans-SemiBold";
      color: #41464b;
    }
  }
  .lists_description li {
    //background-color: pink;
    margin-bottom: 4px;
    color: #41464b;
    font-family: "JosefinSans-Light";
    letter-spacing: 0.005em;

    @include small-540-break {
      font-size: 14px;
      line-height: 140%;
    }

    strong {
      font-family: "JosefinSans-SemiBold";
    }
  }
  .lists_description p {
    //background-color: aqua;
    font-family: "JosefinSans-Light";
    margin-bottom: 16px;
    color: #41464b;
    margin-left: 23px;
    letter-spacing: 0.005em;

    @include small-540-break {
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 12px;
    }

    &:last-of-type {
      //margin-top: 24px;

      @include small-540-break {
        margin-top: 1px;
      }
    }

    a {
      color: #1e8a96;
      text-decoration: underline;
    }
  }
  // .list_description strong {
  // }
  ul {
    list-style: none;
    li::before {
      content: "•";
      color: var(--main-green-hover);
      font-size: 25px;
      margin-right: 10px;
    }

    li {
      a {
        color: #1e8a96;
        text-decoration: underline;
      }
    }
  }
}
///// Mobile and Tablet Styles /////
@include small-540-break {
  .text_component {
    margin-bottom: 32px;
    .heading {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 16px;

      strong {
        font-size: 18px;
      }
    }
    .description {
      font-size: 14px;
      line-height: 19px;
    }
    .description p {
      margin-bottom: 12px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
