@import "../../assets/global-styles//mixins.scss";

.productGallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include small-768-break {
    align-items: center;
  }
}

.galleryContolsImageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  @include small-768-break {
    align-items: center;
  }
  @include small-540-break {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
  }
}

.currentImageWrapper {
  width: fit-content;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.zoomInfo {
  margin-top: 25px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  p {
    font-size: 15px;
    line-height: 15px;
    font-family: "JosefinSans-Light";
    color: var(--primary-font);
  }
  @include small-540-break {
    display: none;
  }
}

.sliderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  @include medium-1080-break {
    width: 80%;
  }

  @include small-540-break {
    padding: 0;
    width: auto;
    margin: 0;
    height: 237px;
    overflow-y: scroll;
  }
  margin-bottom: 50px;
}

.sliderContainer::-webkit-scrollbar {
  display: none;
}

.sliderContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btnPostion {
  width: 100%;
  position: relative;
  @include small-540-break {
    height: fit-content;
  }
}

.imageWrapper {
  z-index: 1000;
}

.btnRight {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include small-540-break {
    display: none;
  }
}

.btnLeft {
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translate(-100%, -50%);
  @include small-540-break {
    display: none;
  }
}
