@import "../../../../assets/global-styles/mixins.scss";

.orderWrapper {
  padding: 12px;
  margin-top: 16px;
  background: rgba(231, 244, 239, 0.7);
  border-radius: 8px;
}

.textBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 0.5px solid rgba(65, 70, 75, 0.2);
}

.orderText {
  font-family: "JosefinSans-Bold";
  font-size: 18px;
  line-height: 18px;
  color: var(--primary-font);
  margin-bottom: 4px;
}

.dateText {
  font-family: "JosefinSans-Regular";
  font-size: 16px;
  line-height: 16px;
  color: var(--primary-font);
}

.btn {
  width: 120px;
  padding-top: 16px;
  padding-bottom: 13px;
  font-family: "JosefinSans-SemiBold";
  font-size: 16px;
  border-radius: 1000px;
}

.divider {
  padding-top: 16px;
  border-bottom: 1px solid rgba(65, 70, 75, 0.2);
}

.bottomWrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-family: "JosefinSans-Bold";
    font-size: 16px;
    line-height: 16px;
    color: var(--primary-font);
  }
  @include small-768-break {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}

.statusWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  p {
    font-family: "JosefinSans-Bold";
    font-size: 16px;
    line-height: 16px;
    color: var(--primary-font);
  }
}

.statusBox {
  border-radius: 43px;
  padding: 8px 12px;
  font-family: "JosefinSans-Bold";
  font-size: 16px;
  line-height: 16px;
}

.FULFILLED {
  background: rgba(144, 255, 92, 0.8);
  color: rgba(44, 138, 0, 1);
}

.IN_PROGRESS,
.ON_HOLD,
.OPEN,
.PARTIALLY_FULFILLED,
.PENDING_FULFILLMENT,
.RESTOCKED,
.SCHEDULED {
  background: rgba(255, 239, 92, 0.8);
  color: rgba(135, 138, 0, 1);
}

.UNFULFILLED {
  background: rgba(255, 92, 92, 0.8);
  color: rgba(138, 0, 0, 1);
}
