@import "../../../../assets//global-styles//mixins.scss";

.productWrapper {
  max-width: 700px;
}

.rating {
  position: relative;
  padding-bottom: 24px;
  z-index: 10;
  pointer-events: none;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 2px solid #7fa294;
  margin-bottom: 32px;
}

.productTitle {
  font-family: "JosefinSans-Bold";
  font-size: 64px;
  line-height: 64px;
  color: var(--primary-font);
  @include small-768-break {
    font-size: 32px;
    line-height: 32px;
  }
}

.shareBtn {
  position: relative;
  bottom: 30px;
  @include small-768-break {
    bottom: 18px;
  }
}

.product_icon {
  width: 44px;
  height: 44px;
  border: 1px solid var(--primary-duckegg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.productPrice {
  padding-bottom: 32px;
  margin-bottom: 24px;
  font-family: "JosefinSans-SemiBold";
  font-size: 42px;
  line-height: 42px;
  color: var(--primary-font);
  border-bottom: 2px solid #7fa294;
  @include small-768-break {
    font-size: 32px;
    line-height: 32px;
  }
}

.decWrapper {
  position: relative;
  padding-right: 12px;
}

.showMoreBtn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0%, 0%);
}
.expandIconWrapper {
  transition: 0.2s ease-in-out;
}

.expandIconWrapperActive {
  transform: rotate(180deg);
}

.productDesccription {
  font-family: "JosefinSans-SemiBold";
  font-size: 20px;
  line-height: 20px;
  color: var(--primary-font);
  padding-bottom: 14px;
  margin-bottom: 32px;
  border-bottom: 2px solid #7fa294;
  @include small-768-break {
    font-size: 18px;
    line-height: 18px;
  }

  p {
    padding-bottom: 10px;
  }
}

.ingrediats {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 2px solid #7fa294;
}

.contols {
  margin-bottom: 48px;
}

.ctaWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  div:nth-child(1) {
    border: 1px solid var(--landing-blue);
    div:nth-child(1) {
      border: none;
    }
  }
}

.quantity {
  margin-bottom: 15px;
  font-family: "JosefinSans-Light";
  font-size: 16px;
  line-height: 16px;
}

.cta {
  font-family: "JosefinSans-Bold";
  font-size: 26px;
  line-height: 22px;
  padding: 23px 70px 17px;
  box-shadow: 0px 4px 16px rgba(160, 210, 190, 0.47);
  border-radius: 1000px;
  background: var(--landing-blue) !important;
  color: var(--primary-white);
  transition: 0.3s ease-in-out;
  @include small-768-break {
    font-size: 22px;
    line-height: 22px;
    padding: 23px 50px 17px;
  }

  @include small-414-break {
    padding-left: 0;
    padding-right: 0;
    width: 60%;
  }
}

@media (hover: hover) {
  .cta:hover {
    opacity: 0.8;
  }
}
.paymnetIcons {
  display: flex;
  align-items: center;
  gap: 32px;
  @include small-768-break {
    gap: 0;
    justify-content: space-between;
  }
}
