@import "../../../assets/global-styles/mixins.scss";

.divider{
    border-bottom: 1px solid var(--primary-duckegg-new);
    width: 100%;
    margin: 32px 0;

    @include small-768-break {
       margin: 16px 0;
    }
}