@import "../../../assets/global-styles/mixins.scss";

.subSection {
  width: 100%;
  padding: 32px;
  box-shadow: 0px 12px 50px rgba(65, 70, 75, 0.15);
  border-radius: 16px;
  background: var(--primary-white);
  height: fit-content;
  margin: 50px 0;
  position: relative;
  overflow: hidden;
  min-height: 460px;
  @include small-768-break {
    padding: 0;
    background: unset;
    box-shadow: unset;
    margin: 16px 0;
  }
}

.heading {
  font-size: 36px;
  line-height: 36px;
  font-family: "JosefinSans-Bold";
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(65, 70, 75, 0.2);
}

.subWrapper {
  max-height: 340px;
  overflow-y: scroll;
  @include small-768-break {
    max-height: 100%;
  }
}

.subWrapper::-webkit-scrollbar {
  display: none;
}

.subWrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loaderWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}
