@import "../../../assets/global-styles//mixins.scss";

.heading {
  font-size: 24px;
  text-transform: uppercase;
  font-family: "JosefinSans-SemiBold" !important;
  color: var(--primary-state);
}

.form {
  color: #6a6c77;
  border-top: 1px solid #e3e3e3;
  padding: 1.5rem 0 1.25rem;
  position: relative;
}

.mandatory_mark_wrapper {
  font-size: 14px;
  line-height: 17px;
  margin: 1.25rem 0;
  font-family: "JosefinSans-SemiBold" !important;
  color: var(--primary-font);
}

.mandatory_mark_content {
  font-size: 16px;
  line-height: 17px;
  margin: 1.25rem 0;
  font-family: "JosefinSans-SemiBold" !important;
  color: var(--primary-font);
}

.mandatory_mark {
  color: red;
}

.review_star_container {
  display: flex;
  width: 100%;

  svg {
    color: #e7721b;
    width: 26px;
    height: 26px;
  }
}

.form_container {
  width: 100%;
  label,
  input {
    display: block;
  }
  textarea {
    height: 150px;
    padding: 9px;
  }

  input {
    border: solid 1px #575757;
    width: 100%;
    outline: none;
    height: 50px;
    border-radius: 1000px;
    font-size: 18px;
    line-height: 18px;
    color: #a1a5a9;
    font-family: "JosefinSans-Light";
    border: 1px solid #b6d9dd;
  }
  input {
    height: 32px;
    padding: 20px 30px;
  }

  textarea {
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    color: #a1a5a9;
    font-family: "JosefinSans-Light";
    border: 1px solid #b6d9dd;
  }
}

.form_container_half {
  width: 50%;
  padding: 0 0.5rem;
}

.form_button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;

  button {
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 17px;
    padding: 10px 20px;
    padding-top: 15px;
  }
}

.form_error {
  color: crimson;
}

.success_message {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000000000;
  width: 80%;
  padding: 20px 20px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  font-size: 18px;
  color: var(--main-green-hover);
  z-index: 11;
  box-shadow: 2px 2px 2px 2px rgba(#000000, 0.25);
  margin-bottom: 20px;
}

.close {
  display: none;
}

.fileWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  p {
    font-family: "JosefinSans-SemiBold";
    font-size: 16px;
    line-height: 16px;
    color: var(--primary-font);
  }
}

.fileInput {
  display: none;
}

.fileInputBtn {
  transition: 0.3s ease-in-out;
  color: #ffffff;
  font-family: "JosefinSans-SemiBold";
  background-color: var(--primary-duckegg);
  box-shadow: 0px 4px 16px rgba(160, 210, 190, 0.47);
  border-radius: 1000px;
  padding: 10px 20px;
  padding-top: 15px;
  cursor: pointer;
  @include large-1536-break {
    font-size: 16px;
    line-height: 16px;
  }

  @include large-1440-break {
    font-size: 15px;
    line-height: 16px;
  }

  @include large-1366-break {
    font-size: 14px;
    line-height: 14px;
  }

  @include small-540-break {
    background: var(--main-green-hover);
  }
}

@media (hover: hover) {
  .fileInputBtn:hover {
    background-color: var(--main-green-hover);
  }
}
