@import "../../../../assets/global-styles//mixins.scss";

.headerWrapper {
  background: var(--header-green);
  padding-top: 16px;
  padding-bottom: 16px;
}

.heading {
  text-align: center;
  font-family: "JosefinSans-Bold";
  font-size: 24px;
  line-height: 24px;
  color: var(--primary-white);

  @include small-768-break {
    font-size: 14px;
    line-height: 14px;
  }
}
