@import "../../assets/global-styles/mixins.scss";

.raiting {
  display: flex;
  margin-top: 23px;
  align-items: baseline;
  cursor: pointer;
  position: relative;
}

.raitingCollection {
  display: flex;
  margin-top: 23px;
  align-items: baseline;
  cursor: pointer;
  position: relative;
  @include small-540-break{
    flex-direction: column;
    gap: 4px;
    width: 100%;
    align-items: flex-start;
    // left: -15px;
  }
}

.icon {
  margin-right: 5px;
}

.reviews {
  position: relative;
  top: -1px;
  margin-left: 15px;
  font-size: 16px;
  line-height: 16px;

  @include large-1366-break {
    font-size: 15px;
  }

  @include small-540-break {
    margin: 0;
  }
}

// Mobile resolutions
@include small-768-break {
  .raiting {
    margin-top: 15px;
  }

  .reviews {
    font-size: 14px;
    line-height: 14px;
  }
}

.starWrapper {
  display: flex;
  align-items: center;
}

.raitingCollectionItem {
  margin-top: 40px;
}

.noReviewsPar {
  margin: 0;
}
