@import "../../assets/global-styles/mixins.scss";

.instagram_section {
  .slick-dots li button:before {
    font-size: 16px;
    color: #ffffff;
    opacity: 1;
    padding-top: 64px;
    button::before {
      display: none;
    }
    @include small-540-break {
      padding-top: 46px;
      font-size: 11px;
    }
  }
  .slick-dots li.slick-active button:before {
    color: var(--main-green-hover) !important;
  }
  .slick-next,
  .slick-prev {
    width: 35px;
    height: 35px;
  }
  .slick-next {
    right: -45px;
  }
  .slick-prev {
    left: -45px;
  }
  .slick-prev::before,
  .slick-next::before {
    display: none !important;
  }

  @include small-540-break {
    .slick-track > div:first-of-type.slick-slide.slick-active {
      margin-left: -50px;
    }
  }
  .slick-dots li {
    @include small-540-break {
      display: none;
    }
  }
  .slick-dots {
    @include small-540-break {
      display: flex !important;
      justify-content: center;
    }
  }
  /* only displaying the active bullets and the 2 bullets next to it */
  .slick-dots li.slick-active,
  .slick-dots li.slick-active + li,
  .slick-dots li.slick-active + li + li,
  .slick-dots li.slick-active + li + li + li {
    @include small-540-break {
      display: block;
    }
  }
  /* displaying the last three bullets when slick-active class isn't applied to any li before them  */
  .slick-dots li:nth-last-child(1),
  .slick-dots li:nth-last-child(2),
  .slick-dots li:nth-last-child(3),
  .slick-dots li:nth-last-child(4) {
    @include small-540-break {
      display: block;
    }
  }
  /* hiding the last three bullets if slick-active exist before them */
  .slick-dots li.slick-active ~ li:nth-last-child(1),
  .slick-dots li.slick-active ~ li:nth-last-child(2),
  .slick-dots li.slick-active ~ li:nth-last-child(3),
  .slick-dots li.slick-active ~ li:nth-last-child(4) {
    @include small-540-break {
      display: none;
    }
  }
  /* specific conditions to always display the last three bullets */
  .slick-dots li.slick-active + li + li + li:nth-last-child(4),
  .slick-dots li.slick-active + li + li + li:nth-last-child(3),
  .slick-dots li.slick-active + li + li + li:nth-last-child(2),
  .slick-dots li.slick-active + li + li + li:nth-last-child(1),
  .slick-dots li.slick-active + li + li:nth-last-child(4),
  .slick-dots li.slick-active + li + li:nth-last-child(3),
  .slick-dots li.slick-active + li + li:nth-last-child(2),
  .slick-dots li.slick-active + li + li:nth-last-child(1),
  .slick-dots li.slick-active + li:nth-last-child(4),
  .slick-dots li.slick-active + li:nth-last-child(3),
  .slick-dots li.slick-active + li:nth-last-child(2),
  .slick-dots li.slick-active + li:nth-last-child(1) {
    @include small-540-break {
      display: block;
    }
  }
}
